:root {
    --background-rgb: 29 30 34;
    --green-rgb: 33 150 51;
    --primary-rgb: var(--green-rgb);

    --g1: rgb(120, 255, 160);
    --g2: rgb(15 100 25);
}

* {
    font-family: "Space Mono", monospace;
    color: white;
}

.banner {
    background-color: rgb(var(--background-rgb) / 95%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1.5rem;
    margin-bottom: .5rem;
}

.card-banner {
    font-size: 4vw;
    font-weight: 600;
}

.character-banner-container {
    z-index: 1;
    width: 65vw;
    min-width: 250px;
    height: auto;
}


.page-container {
    padding-top: 5vh;
    z-index: 1;
    display: flex;
    justify-content: center;
}


.screens {
    padding: 1vw;
    background-color: rgb(var(--background-rgb)  / 95%);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, auto));
    column-gap: 20px;
    row-gap: 15px;
}

@media only screen and (max-width: 480px)  {
    .screens {
        grid-template-columns: repeat(auto-fit, minmax(180px, auto))!important;
    }
}

.screen {
    position: relative;
    z-index: 10;
    overflow: hidden;
    border: 3px solid rgb(var(--primary-rgb) / 80%);
    aspect-ratio: 10 / 16;
    border-radius: 1rem;
    background-color: rgb(var(--primary-rgb) / 15%);
    transition: all .2s ease-in-out;
}


.screen:hover {
    transform: scale(.95);
    cursor:pointer;
}

.screen-text {
    position: absolute;
    z-index: 3;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 4.25rem;
    align-items: center;
}

.screen-text .name {
    font-weight: 400;
    transition: all .2s ease-in-out;
}

.screen:hover .screen-text .name {
    font-size: 4rem;
    
}

.screen > .screen3 {
    background-image: url("img/screen3.png");
}

.screen > .screen4 {
    background-image: url("img/screen4.jpg");
}

.screen > .screen2 {
    background-image: url("img/screen2.png");
}

.screen > .screen1 {
    background-image: url("img/screen1.jpg");
}

.screen > .screen4,
.screen > .screen3,
.screen > .screen2,
.screen > .screen1 {
    background-position: 0% 0%;
    left: 0px;
    top: 0px;
    position: absolute;
    height: 100%;
    width: 100%;
    background-size: 170%;
    filter: sepia(10%) hue-rotate(120deg);
    animation: pan-image 20s infinite linear;
    opacity: 0.6;
    z-index: 1;
}

.screen-overlay {
    position: absolute;
    z-index: 2;
    left: 0%;
    top: 0%;
    background: linear-gradient(
    rgb(var(--primary-rgb) / 0.15),
    rgb(var(--primary-rgb) / 0.15) 3px,
    transparent 3px,
    transparent 9px
  );
  background-size: 100% 9px;
  height: 100%;
  width: 100%;
  animation: pan-overlay 22s infinite linear;
}

@keyframes pan-overlay {
    from {
        background-position: 0% 0%;
    }

    to {
        background-position: 0% -100%;
    }
}

@keyframes pan-image {

    0% {
        background-position: 0% 0%;
        background-size: 170%;
        filter: sepia(10%) hue-rotate(0deg);
    }

    25% {
        background-position: 100% 20%;
        background-size: 160%;
    }

    50% {
        background-position: 0% 100%;
        background-size: 150%;
        filter: sepia(10%) hue-rotate(180deg);
    }

    75% {
        background-position: 100% 100%;
        background-size: 160%;
    }

    100% {
        background-position: 0% 0%;
        background-size: 170%;
        filter: sepia(10%) hue-rotate(360deg);
    }
}