#infoBar {
    display: none;
    font-size: clamp(1rem, 2.5vw, 3rem);
}

table {
    border-collapse: collapse;
    width: 100%;
}

td {
    vertical-align: top;
    padding-left: .25rem;
}

tr:first-child {
    border-top:2px dashed #136131;
}

tr {
    border-bottom:2px dashed #136131;
}

@media only screen and (max-width: 760px)  {
    .nav {
        display: block;
    }
}

@media only screen and (max-width: 600px)  {
    .nav {
        padding: .2rem;
    }
}
